{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
</head>
<body>
    {% include 'partials/nav-bar.html' %} 
    {% block pagecontent %}
    {% endblock %}
    {% include 'partials/footer.html' %} 
    <script src="{% static 'js/jquery.com_jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
</body>
</html> 