{% extends 'exam/base.html' %}

{% block title %}Driving Theory{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/basic_pages.css">
{% endblock %}

{% block pagecontent %}
<div class="wrapper">
    <div class="centered-block">
        <h1>Welcome to DriveWise!</h1>
        <p>Navigating the road to becoming a confident and knowledgeable driver has never been easier. At DriveWise,
            we're here to guide you through the exciting journey of mastering driving theory.</p>

        {% if request.user.is_authenticated %}
        <a href="{% url 'exam' %}">Are you ready? Let's practice</a>
        {% else %}
        <p>You need an <a href="{% url 'login' %}">account</a> to start learning</p>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}