body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

#questions-box-div {
    display: flex;
    flex-direction: row;
}

#side-questions-box {
    width: 80%;
    border: 2px solid antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#side-menu-div {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
}

#questions-div {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: cadetblue; */
}

.link-to-question {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    width: 19%;
    height: 30px;
    text-align: center;

}

#answers-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    /* margin: 40px; */
}

/* .picture {
    margin: 40px;
}

.question {
    margin: 40px;
} */

.list-btn {
    width: 80px;
    height: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
}